/* ### CUSTOM PROPERTIES ### */

:root {
  /* primary */
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);

  /* neutral */
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);

  /* typography */
  --ff-red-hat-display: "Red Hat Display", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ### UTILITIES ### */

.text-black {
  color: var(--neutral-dark-blue);
}

.text-purple {
  color: var(--primary-bright-blue);
}

.stack > * + * {
  margin-top: var(--stack-gap, 1rem);
}
